name: Run bot

on:
  schedule:
   - cron: "1 */5 * * *"
  workflow_dispatch:

#concurrency:
#  group: ${{ github.ref }}
#  cancel-in-progress: true

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
 

      - name: Give perms to execute engine
        run: |
          chmod +x ./engines/stockfish


      - name: Replace token
        run: |
          sed -i 's|BOT_TOKEN|${{ secrets.BOT_TOKEN }}|g' config.yml

      - name: Run bot
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }} 
        run: python user_interface.py --upgrade
